<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thomas.andfun.todo">

    <application>

        <meta-data
            android:name="com.thomas.andfun.todo.app.GlobalConfiguration"
            android:value="ModuleConfig" />
    </application>

</manifest>