<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thomas.base">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="false">
        <!--全面屏适配-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

    </application>
</manifest>
